h1{
	font-family: 'Dosis', sans-serif;
	font-size: 30px;
	text-align: center;
}

.navbar-default{
	font-family: 'Dosis', sans-serif;
	font-size: 30px;
	background-color: black;
	color: white;
	padding: 5px;
}

.navbar .nav > li > a{
	color: #ffffff;
	margin: 10px;
	font-size: 25px;
}

hr {
  position: relative;
  display: block;
  height: 1px;
  max-width: 600px;
  border: 0;
  border-top: 2px solid #ccc;
  padding: 0;
}

.header{
padding-bottom: 85px;
}

.about-us{
	text-align: center;
}

.team-members{
	text-align: center;
	align:center;
	border-radius: 50%;
}

.btn-default{
    background: black;
	color: white;
}

.btn:active, .btn.active{

}

.nav-tabs{
	text-align: center;
	
}

.col-md-4{
	align: center;
}
